<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694068909305-obqt60rk9ugmhfhtsuenuu65kuagr921.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694068909305-obqt60rk9ugmhfhtsuenuu65kuagr921</string>
	<key>API_KEY</key>
	<string>AIzaSyAH2Ry7b7eg7SRN1LhxiprNaKGELK6GGlI</string>
	<key>GCM_SENDER_ID</key>
	<string>694068909305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaeHyeonLim9298.LoginWithFireBase</string>
	<key>PROJECT_ID</key>
	<string>login-sample-app-f9751</string>
	<key>STORAGE_BUCKET</key>
	<string>login-sample-app-f9751.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694068909305:ios:a3a6917ab9368a5108fe28</string>
</dict>
</plist>